.handjet-michael {
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "ELGR" 1,
        "ELSH" 2;
}

.noto-sans-display-michael {
    font-family: "Noto Sans Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

span.highlighter {
    background: linear-gradient(to left, rgba(0, 255, 255, 1.0), rgba(0, 255, 2, 1.0)) 0 50% / 100% 13px no-repeat;
}

h1.title {
    font-family: 'Handjet';
    font-weight: 500;
    font-size: 60px;
    padding-top: 0px;
    margin-bottom: 0px;
}

h2.subtitle {
    font-family: 'Handjet';
    font-weight: 500;
    font-size: 60px;
    font-weight: 300;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 40px;
}

article > h2 {
    font-weight: 300;
    font-size: 40px;
    font-style: italic;
    margin-bottom: 10px;
}

div.wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    overflow: hidden;
    background-color: rgb(255, 255, 255, 0.9);
}

body {
    font-family: 'Noto Sans Display';
    font-weight: 500;
    background-image: url("images/background.png");
    background-color: rgb(255, 255, 255, 0.6); 
    background-blend-mode: lighten;
    background-size: 150px;
    background-attachment: fixed; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    padding: 2px;
    margin: 0px 10px 10px 0px; 
    background-color: black;
    color: white;
}

li.first {
    margin: 0px 10px 0px 0px; 

}

.project-img-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100% !important;
    height: 350px;
}

.project-img-container > div {
    flex: 1 1 100px;
}

.project-img-container > div.right {
    margin-left: 6px;
}

.project-img-container > div.middle {
    margin-left: 6px;
    margin-right: 6px;
}

.project-img-container > div.big {
    flex: 2 1 100px; 
}

.project-img-container > div > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

div.center {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

div.image-wrapper {
    display: flex;
}

div.image-wrapper > img {
    max-width: 100%;
    border-radius: 1.5%;
}

article {
    margin-bottom: 4em;
}

#mario {
    object-position: 90%;
}

div.project-details {
    margin: 30px; 
    display: flex;
    justify-content: center;
}

div.project-details > a {
    text-decoration: none;
    color: black; 
}

div.project-details > a:hover {
    text-decoration: none;
    color: white; 
    background-color: black;
}

div.project-details a:hover img {
    -webkit-filter: invert(1);
    filter: invert(1);
}

div.project-details > a > p {
    margin: 0px;
    padding: 0px 20px 0px 20px; 
    font-weight: 900;
    font-size: 15px; 
}

div.project-details img {
    display: inline;
    vertical-align: middle;
    padding-bottom: .3em;
    max-width: 1.6em;
}

